<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirsoft.easyfix" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.mirsoft.easyfix.App"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.mirsoft.easyfix.MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mirsoft.easyfix.TestSIgnUp"
            android:label="@string/title_activity_test_sign_up"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.mirsoft.easyfix.SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name="com.mirsoft.easyfix.TabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.mirsoft.easyfix.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.mirsoft.easyfix.TabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirsoft.easyfix.TabsActivity" />
        </activity>
        <activity
            android:name="com.mirsoft.easyfix.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:parentActivityName="com.mirsoft.easyfix.TabsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirsoft.easyfix.TabsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.mirsoft.easyfix.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a6db6ad043b4ea239abd028eed102d3e1bb2d1d3" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>

</manifest>
